*{
    margin:0;
    padding: 0;
}
 .navbar{
   display:flex;
   align-items: center;
   justify-content: center;
   position: sticky;
   cursor: pointer;
   top:0;
 }

 .nav-list{
     width: 50%;
   
     display:flex;
 } 

.logo{
    width: 20%;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.logo img{
    width:80%;
    border-radius:70px;
    border:solid grey;
}

.nav-list li{
    text-decoration: none;
    display: flex;
    padding: 20px 30px;
    
}

.nav-list li a:link,a:visited{
    text-decoration: none;
}

.nav-list li a:hover{
 
    color:rgb(241, 15, 15);
}
.rightnav{
     
     width: 50%;
     text-align: right;
     padding:15px;

 }
 #search{
    border-radius: 15px;
    padding: 5px;
    font-size: 17px;
    border: 2px solid gold;
 }
 .btn{
     border-radius:2px;
     border-radius: 15px;
     padding: 5px;
     font-size: 17px;

     border: 2px solid gold;
 }
.fbackground{
    background: rgba(0, 0, 0, 0.7)url('../img/nurse.jpg');
    background-size: cover;
    
}
.background{
    background: rgba(0, 0, 0, 0.7)url('../img/12.jpg');
    background-size: cover;
    background-blend-mode: darken;
    
}
.firstsection{
    height:100vh;
}
.main{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    max-width: 50%;
    margin:auto;
    height:80%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.firsthalf{
 font-size: 10px;
}
.secondhalf{
    border-radius: 15px;
    padding: 5px;
    font-size: 17px;
    border: 4px solid gold;
}
.secondhalf img{
    border-radius: 15px;
}
 .fcontent{
    font-size:30px;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.scontent{
    font-size:20px;
    color:rgb(15, 214, 240);
} 
.abtn{
    padding: 10px 10px;
    font-size:10px;
    margin: 10px;
}

.bbtn{
    padding:10px 15px;
    font-size:15px;
    color:black;
    cursor: pointer;
    margin:7px 5px;
    border: solid skyblue;
    background-color: lightblue;
    text-decoration: none;
    border-radius: 15px;
}
.bbtn:hover{
    background-color: white;
}
.cbtn:hover{
    /* sabackground-color: rgb(103, 64, 167); */
    border: solid rgb(38, 16, 230);
}
.cbtn{
    padding:10px 15px;
    cursor: pointer;
    color:white;
    margin:7px 5px;
    font-size:15px;
    background-color:none;
    border: solid grey;
    text-decoration: none;
    border-radius: 15px;
}
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
 /* a:link,a:visited{
    background-color:grey;
    
    text-decoration: none;
    border:2px solid black;
}
a:hover{
    background-color:rgb(28, 12, 243);
  
    text-decoration: none;
    border:2px solid rgb(228, 7, 7); */

/* h1{
    background-color: aqua;
    text-align:center;
    margin:0px;
}
.a{
    color:blue;
}
.banner {
    min-height: 800px;
    background-image: url(../img/health.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
} */ 
p{
    align-items: center;
}